@page
@model ServiceHost.Pages.AccessDeniedModel
@{
}


<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row justify-content-md-center">
                            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 text-center">
                                <br />
                                <h1 class="text-danger"><strong>403</strong></h1>
                                <br />
                                <h2><strong>دسترسی غیرمجاز!</strong></h2>
                                <br />
                                <h4>متاسفانه، شما اجازه دسترسی به این صفحه را ندارید!</h4>
                                <br />
                                <a class="btn btn-primary" asp-page="/Index">صفحه اصلی</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>